{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{%block conteudo%}
{% if not user.is_anonymous %}
  <h1>Carrinho</h1>
  {% if cart.products.exists %}
    <table class="table">
      <thead>
        <tr>
          <th>Nome do produto</th>
          <th>Preço do produto</th>
        </tr>
      </thead>
      <tbody>
        {% for product in cart.products.all %}
        <tr>
          {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
          <td><h4>{{ product.nome }}</h4><small><a href='{% url "cart:remove" %}{{product.id}}'>Deseja remover?</a></small></td>
          <td>{{ product.preco }}</td>
        </tr>
        {% endfor %}
        <tr>
          <tdcolspan="2"></td>
          <td><b>Subtotal</b> {{ cart.subtotal }}</td>
        </tr>
        <tr>
          <tdcolspan="2"></td>
          <td><b>Total</b> {{ cart.total }}</td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p class='lead'>Carrinho vazio</p>
  {% endif %}
  {% endif %}
  {%endblock conteudo%}