{% extends "base.html" %}
{%block conteudo%}
<section class="checkout">
    <div class="container">
        <div class="row justify-content-center flex-column align-items-center">
            <h1>Pedido Finalizado Com Sucesso !</h1>
            <div class="borda-checkout mt-4 text-center">
            {% for produto in produtos %}
                <p>
                    Produto: {{ produto }}
                </p>
                {% endfor %}
                <p>Total:R$ {{ object.total }}</p>
            </div>
            <div class="mt-4">
                <a href="/perfil" class="btn btn-primary">Voltar para o perfil</a>
            </div>
        </div>
    </div>
</section>
{%endblock conteudo%}