.navbar
    background-color: #eeeeee !important
    a
        color: #b26312 !important
        font-weight: 600
        &:hover
            color: #2ba9b2 !important
            // background-color: #2ba9b2
.navbar-expand-lg .navbar-nav .nav-link
    margin-right: 25px

.produtos
    .conteudo
        // border: 1px solid #33aab0
        min-height: 500px
        box-shadow: 0px 11px 19px 0px #c6c6c6
        // &:hover
        //     background-color: #33aab0
        //     transition-delay: 2s 

.como-montar
    h1,h2,h3
        color: #32abb0
        text-align: center
        font-weight: 600
        margin-top: 50px
        // margin-bottom: 50px

    .box-montagem
        border-bottom: 1px solid #a86621

    .texto
        font-size: 16px
        margin-top: 15px
        margin-bottom: 15px

    .img-montagem
        img
            border-radius: 50%
            height: 220px
            // width: 200px
            width: 250px
    .massa, .sobre
        p
            text-align: center
            margin-top: 30px
            font-size: 18px
            color: #a86621
            font-weight: bolder
            margin-bottom: 0

    .recheios
        border-bottom: 1px solid #a86621
        p
            text-align: center

        img
            padding-top: 40px
            padding-bottom: 40px

    .toppings
        img
            margin-right: 25px

    .sobre
        border-bottom: 1px solid #a86621
.login
    form
        input
            margin-top: 25px
            margin-bottom: 25px

.register
    margin-top: 30px

#hint_id_username
    display: none

footer
    background-color: #D3EFFB
    min-height: 150px
    padding-top: 50px
    padding-bottom: 50px
    p
        font-size: 25px
        color: #8a8a8a