{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{%block conteudo%}
<section class="login">
    <div class="container pt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 ">
                <h1>Login</h1>
                {% if user.is_anonymous %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="email" id="username" name="username" class="form-control" placeholder="Email">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Senha">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
                    <a href="{% url 'resetPassword' %}">Esqueceu a senha ?</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{%endblock conteudo%}

<!-- https://makeacake.com.br/ -->