{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{%block conteudo%}
<div class="container">
    {% if user.is_anonymous %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="email" id="username" name="username" class="form-control" placeholder="Email">
            <input type="password" id="password" name="password" class="form-control" placeholder="Senha">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>       
        </form>
    {% endif %}
</div>
{%endblock conteudo%}

<!-- https://makeacake.com.br/ -->