
{% if in_cart %}
{% for produto in produtos %}
<form method='POST' action='{% url "cart:delete" %}' class="form"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ produto.id }}' />
{% endfor %}
        <button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;">Excluir
            arrombado</button>
</form>

{% else %}
<form method='POST' action='{% url "cart:update" %}' class="form"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ produto.id }}' />
        <button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;">Adicionar</button>
</form>
{% endif %}







<!-- <form method='POST' action='{% url "cart:update" %}' class="form"> {% csrf_token %}
    <input type='hidden' name='product_id' value='{{ produto.id }}' />
    {% if in_cart %}
    <form action="{% url 'cart:delete' %}" method="post">
        <button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;">Excluir
            arrombado</button>
    </form>
    {% else %}
    <button type='submit' class='btn btn-success'>Adicionar update cart</button>
    {% endif %}
</form> -->
