{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{%block conteudo%}
{% if not user.is_anonymous %}
<section class="perfil">
    <div class="container">
        <h1>Bem vindo, <span>{{name}}!</span></h1>
        <div class="row flex-column pt-3 pb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Numero do pedido</th>
                        <th scope="col">Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{item.orderId}}</th>
                        <td>
                            {% for produto in item.itemsPedido %}
                            {{produto}}
                            <br>
                            {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endif %}
{%endblock conteudo%}

<!-- https://makeacake.com.br/ -->