{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static%}

{%block conteudo%}
<section class="como-montar">
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Já montou o seu bolo ?</h1>
                <p>Você escolhe como quer montar o seu Naked Cake de uma forma simples e rápida.</p>
                <p>Escolha o tamanho, as massas, os recheios e os toppings.</p>
            </div>
            <div class="col-12 d-flex flex-wrap mt-4 pb-5 box-montagem">
                <div class="col-12 col-md-3 mb-3 img-montagem">
                    <img src="{% static 'images/bolo_inicial.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-md-3 mb-3 img-montagem">
                    <img src="{% static 'images/bolo_quase.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-md-3 mb-3 img-montagem">
                    <img src="{% static 'images/bolo_semicompleto.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-12 col-md-3 mb-3 img-montagem">
                    <img src="{% static 'images/bolo_completo.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12 titulo">
                <h2>1: Escolha o tamanho</h2>
            </div>
            <div class="col-12 mt-4 mb-4">
                <div class="massa d-flex align-items-center flex-wrap justify-content-center">
                    <div class="col-12 col-md-3">
                        <p>Pequeno</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p>Medio</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p>Grande</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="img-massa d-flex align-items-center flex-wrap justify-content-center text-center">
                    <div class="col-12 col-md-3 mt-3 mb-3">
                        <img src="{% static 'images/medio.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-3 mt-3 mb-3">
                        <img src="{% static 'images/grande.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-md-3 mt-3 mb-3">
                        <img src="{% static 'images/super_grande.png' %}" class="img-fluid" alt="">
                    </div>         
                </div>
            </div>
            <div class="col-12">
                <div class="sobre d-flex flex-wrap align-items-center justify-content-center text-center pb-4">
                    <div class="col-12 col-md-3">
                        <p>10 fatias (1,2 a 1,5 kg)*</p>
                    </div>
                    <div class="col-12 col-md-3">
                        <p>20 a 25 fatias (2 a 2,5 kg)*</p>
                        
                    </div>
                    <div class="col-12 col-md-3">
                        <p>30 a 35 fatias (3 a 3,5 kg)*</p>
                    </div>   
                    {% if not user.is_anonymous %}

                    <div class="col-12 mt-5 mb-4">                   
                        <center><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBolo">Escolher tamanho</a></center>            
                    </div>
                    {% else %}
            
                    <div class="col-12 mt-5 mb-4">                   
                        <center><a type="button" class="btn btn-primary" href="/contas/login/">Fazer Login</a></center>            
                    </div>
                    {% endif %}
                </div>   
            </div>           
              <!-- Modal -->
              <div class="modal fade" id="modalBolo" tabindex="-1" role="dialog" aria-labelledby="modalBolo" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalBolo">Selecione o Tamanho do bolo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Preço</th>                                        
                                    <th scope="col">Selecione</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produto in tamanho%}
                                    <tr>
                                        <td scope="row">{{ produto.nome }}</td>
                                        <td scope="row">{{ produto.preco }}</td>                                            
                                        {% if produto.ativo == True %}
                                        <td scope="row">{% include 'products/snippets/update-cart.html' with product=object cart=cart %}</td>
                                        {% else %}
                                        <td scope="row">
                                            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Indisponivel</a>
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>                        
                    </div>
                </div>
                </div>
            </div>
            <!-- /Modal -->
            <div class="col-12">
                <h2>2: Escolha a Massa</h2>
                <div class="recheios d-flex flex-wrap justify-content-center">
                    <div class="col-12 col-md-4 text-center">
                        <img src="{% static 'images/massa.png' %}" class="img-fluid" alt="">
                        {% if not user.is_anonymous %}
                        <center><a type="button" class="btn btn-primary mt-4 mb-4" data-toggle="modal" data-target="#modalmassa">Escolher Massa</a></center>
                        {% else %}
                        <div class="col-12 mt-5 mb-4">                   
                            <center><a type="button" class="btn btn-primary" href="/contas/login/">Fazer Login</a></center>            
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>            
            <!-- Modal -->
            <div class="modal fade" id="modalmassa" tabindex="-1" role="dialog" aria-labelledby="modalmassa" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalmassa">Selecione a Massa do bolo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Preço</th>                                    
                                    <th scope="col">Selecione</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produto in massa%}
                                <tr>
                                    <td scope="row">{{ produto.nome }}</td>
                                    <td scope="row">{{ produto.preco }}</td>                                        
                                    {% if produto.ativo == True %}
                                    <td scope="row">{% include 'products/snippets/update-cart.html' with product=object cart=cart %}</td>
                                    {% else %}
                                    <td scope="row">
                                        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Indisponivel</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>                    
                    </div>
                </div>
                </div>
            </div>
            <!-- /Modal -->            
            <div class="col-12">
                <h2>3: Escolha o Recheio</h2>
                <div class="recheios d-flex flex-wrap justify-content-center">
                    <div class="col-12 col-md-4 text-center">
                        <img src="{% static 'images/recheio.png' %}" class="img-fluid" alt="">
                        {% if not user.is_anonymous %}
                        <center><a type="button" class="btn btn-primary mt-4 mb-4" data-toggle="modal" data-target="#modalrecheio">Escolher Recheio</a></center>
                        {% else %}
                        <div class="col-12 mt-5 mb-4">                   
                            <center><a type="button" class="btn btn-primary" href="/contas/login/">Fazer Login</a></center>            
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
           
              <!-- Modal -->
              <div class="modal fade" id="modalrecheio" tabindex="-1" role="dialog" aria-labelledby="modalrecheio" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalrecheio">Selecione o Recheio do bolo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Preço</th>                                    
                                    <th scope="col">Selecione</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for produto in recheio%}
                                    <tr>
                                        <td scope="row">{{ produto.nome }}</td>
                                        <td scope="row">{{ produto.preco }}</td>      
                                        {% if produto.ativo == True %}
                                        <td scope="row">{% include 'products/snippets/update-cart.html' with product=object cart=cart %}</td>
                                        {% else %}
                                        <td scope="row">
                                            <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Indisponivel</a>
                                        </td>
                                        {% endif %}                                  
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cancelar</button>                      
                    </div>
                </div>
                </div>
            </div>
            <!-- /Modal -->  
            <div class="col-12 text-center">
                <h2>4: Escolha os toppings</h2>
                <div class="col-12 pt-4 pb-4 toppings">
                    <img src="{% static 'images/topping1.png' %}" class="img-fluid" alt="">
                    <img src="{% static 'images/topping2.png' %}" class="img-fluid" alt="">
                    <img src="{% static 'images/topping3.png' %}" class="img-fluid" alt="">
                    <img src="{% static 'images/topping4.png' %}" class="img-fluid" alt="">
                </div>
                
            </div>
        </div>
        {% if not user.is_anonymous %}
        <center><a type="button" class="btn btn-primary mt-4 mb-4" data-toggle="modal" data-target="#modalTopping">Escolher Topping</a></center>
        {% else %}
        <div class="col-12 mt-5 mb-4">                   
            <center><a type="button" class="btn btn-primary" href="/contas/login/">Fazer Login</a></center>            
        </div>
        {% endif %}
         <!-- Modal -->
         <div class="modal fade" id="modalTopping" tabindex="-1" role="dialog" aria-labelledby="modalTopping" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="modalTopping">Selecione o tamanho do topping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Preço</th>                                    
                                <th scope="col">Selecione</th>                               

                            </tr>
                        </thead>
                        <tbody>
                            {% for produto in topping%}
                                <tr>
                                    <td scope="row">{{ produto.nome }}</td>
                                    <td scope="row">{{ produto.preco }}</td>                                        
                                    {% if produto.ativo == True %}
                                    <td scope="row">{% include 'products/snippets/update-cart.html' with product=object cart=cart %}</td>
                                    {% else %}
                                    <td scope="row">
                                        <a href="#" class="btn btn-secondary disabled" tabindex="-1" role="button" aria-disabled="true">Indisponivel</a>
                                    {% endif %}   
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>                        
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">cancelar</button>    
                </div>
            </div>
            </div>
        </div>
        <!-- /Modal -->                     
    </div>
</section>

    
{%endblock conteudo%}