{% load bootstrap4 %}


<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Cadastro</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Produtos</h1>
        {% bootstrap_messages %}
        <form action="{% url 'produto' %}" method="POST" class="form csrf" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token  %}  
            
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary ">Cadastrar</button>
            {% endbuttons %}
        </form>
    </div>

</body>
</html>